<h3 >{{viewTitle}}</h3>
<form> 
<div class="form-group col-md-12">
    
        <div class="col-md-6 form-group">
         <div class="col-md-3"><label>Ho ten</label></div>
        </div>
        <div class="col-md-6 form-group">

        </div>
    
</div>
</form>