<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css"  href="/Client/node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"  href="/Client/node_modules/bootstrap/dist/js/bootstrap.min.js">
<link rel="stylesheet" type="text/css" href="/Client/node_modules/jquery/dist/jquery.min.js">


<title>Title of the product</title>

</head>

<body class="bg-info">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {{{body}}}
        </div>
    </div>
</body>
</html